<a href="https://cognitiveclass.ai"><img src = "https://ibm.box.com/shared/static/ugcqz6ohbvff804xp84y4kqnvvk3bq1g.png" width = 300, align = "center"></a>

<h1 align=center><font size = 5>Lab: Working with a real world data-set using SQL and Python</font></h1>

# Introduction

This notebook shows how to work with a real world dataset using SQL and Python. In this lab you will:
1. Understand the dataset for Chicago Public School level performance 
1. Store the dataset in an Db2 database on IBM Cloud instance
1. Retrieve metadata about tables and columns and query data from mixed case columns
1. Solve example problems to practice your SQL skills including using built-in database functions

## Chicago Public Schools - Progress Report Cards (2011-2012) 

The city of Chicago released a dataset showing all school level performance data used to create School Report Cards for the 2011-2012 school year. The dataset is available from the Chicago Data Portal: https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t

This dataset includes a large number of metrics. Start by familiarizing yourself with the types of metrics in the database: https://data.cityofchicago.org/api/assets/AAD41A13-BE8A-4E67-B1F5-86E711E09D5F?download=true

__NOTE__: Do not download the dataset directly from City of Chicago portal. Instead download a more database friendly version from the link below.
Now download a static copy of this database and review some of its contents:
https://ibm.box.com/shared/static/f9gjvj1gjmxxzycdhplzt01qtz0s7ew7.csv

### Store the dataset in a Table
In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. To analyze the data using SQL, it first needs to be stored in the database.

While it is easier to read the dataset into a Pandas dataframe and then PERSIST it into the database as we saw in the previous lab, it results in mapping to default datatypes which may not be optimal for SQL querying. For example a long textual field may map to a CLOB instead of a VARCHAR. 

Therefore, __it is highly recommended to manually load the table using the database console LOAD tool, as indicated in Week 2 Lab 1 Part II__. The only difference with that lab is that in Step 5 of the instructions you will need to click on create "(+) New Table" and specify the name of the table you want to create and then click "Next". 

##### Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the CHICAGO PUBLIC SCHOOLS dataset and load the dataset into a new table called __SCHOOLS__.

<a href="https://cognitiveclass.ai"><img src = "https://ibm.box.com/shared/static/uc4xjh1uxcc78ks1i18v668simioz4es.jpg"></a>

### Connect to the database
Let us now load the ipython-sql  extension and establish a connection with the database

In [1]:
%load_ext sql

In [30]:
# Enter the connection string for your Db2 on Cloud database instance below
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name
%sql ibm_db_sa://lrn61010:4s713hc-4w4nvbv4@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB

'Connected: lrn61010@BLUDB'

### Query the database system catalog to retrieve table metadata

##### You can verify that the table creation was successful by retrieving the list of all tables in your schema and checking whether the SCHOOLS table was created

In [8]:
# type in your query to retrieve list of all tables in the database for your db2 schema (username)

%sql select TABSCHEMA, TABNAME, CREATE_TIME from SYSCAT.TABLES where TABSCHEMA='LRN61010'

%sql select * from SYSCAT.TABLES where TABNAME = 'SCHOOLS'

 * ibm_db_sa://lrn61010:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.
 * ibm_db_sa://lrn61010:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('LRN61010', 'SCHOOLS', 'LRN61010', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2019, 11, 30, 14, 53, 48, 438731), datetime.datetime(2019, 11, 30, 14, 53, 48, 438731), datetime.datetime(2019, 11, 30, 14, 53, 48, 438731), datetime.datetime(2019, 11, 30, 14, 56, 40, 31888), 78, 7, 1131, 567, 17, 0, 18, -1, -1, -1, 0, 'lrn61010space1', None, None, 0, 0, 0, 0, 0, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 936, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2019, 11, 30, 14, 53, 48, 438731), 0, ' ', None, None, 'N', 'LRN61010', ' ', ' ', ' ', datetime.date(2019, 11, 30), ' ', 'N', 'R', 'N', -1.0, None)]

Double-click __here__ for a hint

<!--
In Db2 the system catalog table called SYSCAT.TABLES contains the table metadata
-->

Double-click __here__ for the solution.

<!-- Solution:

%sql select TABSCHEMA, TABNAME, CREATE_TIME from SYSCAT.TABLES where TABSCHEMA='YOUR-DB2-USERNAME'

or, you can retrieve list of all tables where the schema name is not one of the system created ones:

%sql select TABSCHEMA, TABNAME, CREATE_TIME from SYSCAT.TABLES \
      where TABSCHEMA not in ('SYSIBM', 'SYSCAT', 'SYSSTAT', 'SYSIBMADM', 'SYSTOOLS', 'SYSPUBLIC')
      
or, just query for a specifc table that you want to verify exists in the database
%sql select * from SYSCAT.TABLES where TABNAME = 'SCHOOLS'

-->

### Query the database system catalog to retrieve column metadata

##### The SCHOOLS table contains a large number of columns. How many columns does this table have?

In [9]:
# type in your query to retrieve the number of columns in the SCHOOLS table

%sql select TYPENAME, LENGTH from SYSCAT.COLUMNS where TABNAME = 'SCHOOLS'

 * ibm_db_sa://lrn61010:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('LRN61010', 'SCHOOLS', 'Column_0', 0, 'SYSIBM  ', 'VARCHAR', 9, 0, 'OCTETS', 9, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 567, "'610544'", "'609674'", 11, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 6, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('LRN61010', 'SCHOOLS', 'Column_1', 1, 'SYSIBM  ', 'VARCHAR', 65, 0, 'OCTETS', 65, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 567, "'Woodlawn Community Elementary Sch'", "'Abraham Lincoln Elementary School'", 41, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 36, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('LRN61010', 'SCHOOLS', 'Column_2', 2, 'SYSIBM  ', 'VARCHAR', 34, 0, 'OCTETS', 34, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 4, "'HS'", "'Elementary, Middle, or High Schoo'", 7, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 2, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('LRN61010', 'SCHOOLS', 'Column_3', 3, 'SYSIBM  ', 'VARCHAR', 30, 0, 'OCTETS', 30, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 567, "'9928 S Crandon Ave'", "'10015 S Leavitt St'", 22, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 17, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('LRN61010', 'SCHOOLS', 'Column_4', 4, 'SYSIBM  ', 'VARCHAR', 7, 0, 'OCTETS', 7, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 2, "'City'", "'Chicago'", 12, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 7, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('LRN61010', 'SCHOOLS', 'Column_5', 5, 'SYSIBM  ', 'VARCHAR', 5, 0, 'OCTETS', 5, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 2, "'State'", "'IL'", 7, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 2, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('LRN61010', 'SCHOOLS', 'Column_6', 6, 'SYSIBM  ', 'VARCHAR', 8, 0, 'OCTETS', 8, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 52, "'60827'", "'60607'", 10, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 5, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('LRN61010', 'SCHOOLS', 'Column_7', 7, 'SYSIBM  ', 'VARCHAR', 14, 0, 'OCTETS', 14, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 567, "'(773) 697-2216'", "'(773) 534-0146'", 19, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 14, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('LRN61010', 'SCHOOLS', 'Column_8', 8, 'SYSIBM  ', 'VARCHAR', 78, 0, 'OCTETS', 78, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 3, "''", "'Link'", 83, None, 0, 20, 10, 1, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 78, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('LRN61010', 'SCHOOLS', 'Column_9', 9, 'SYSIBM  ', 'VARCHAR', 40, 0, 'OCTETS', 40, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 21, "'Southwest Side High School Networ'", "'Austin-North Lawndale Elementary '", 35, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 30, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('LRN61010', 'SCHOOLS', 'Column_10', 10, 'SYSIBM  ', 'VARCHAR', 34, 0, 'OCTETS', 34, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 6, "'SOUTHWEST SIDE COLLABORATIVE'", "'FAR SOUTH SIDE COLLABORATIVE'", 33, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 28, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('LRN61010', 'SCHOOLS', 'Column_11', 11, 'SYSIBM  ', 'VARCHAR', 31, 0, 'OCTETS', 31, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 4, "'No'", "'NDA'", 7, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 2, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('LRN61010', 'SCHOOLS', 'Column_12', 12, 'SYSIBM  ', 'VARCHAR', 14, 0, 'OCTETS', 14, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 4, "'Track Schedule'", "'Standard'", 13, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 8, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('LRN61010', 'SCHOOLS', 'Column_13', 13, 'SYSIBM  ', 'VARCHAR', 29, 0, 'OCTETS', 29, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 5, "'Not on Probation'", "'NDA'", 18, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 13, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('LRN61010', 'SCHOOLS', 'Column_14', 14, 'SYSIBM  ', 'VARCHAR', 28, 0, 'OCTETS', 28, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 6, "'NDA'", "'Level 1'", 12, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 7, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('LRN61010', 'SCHOOLS', 'Column_15', 15, 'SYSIBM  ', 'VARCHAR', 24, 0, 'OCTETS', 24, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 3, "'Yes'", "'HEALTHY_SCHOOL_CERTIFIED'", 7, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 2, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('LRN61010', 'SCHOOLS', 'Column_16', 16, 'SYSIBM  ', 'VARCHAR', 12, 0, 'OCTETS', 12, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 7, "'Very Weak'", "'NDA'", 11, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 6, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('LRN61010', 'SCHOOLS', 'Column_17', 17, 'SYSIBM  ', 'VARCHAR', 12, 0, 'OCTETS', 12, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 87, "'SAFETY_SCORE'", "'11'", 7, None, 0, 20, 10, 53, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 2, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('LRN61010', 'SCHOOLS', 'Column_18', 18, 'SYSIBM  ', 'VARCHAR', 23, 0, 'OCTETS', 23, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 7, "'Very Weak'", "'Family Involvement Icon'", 10, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 5, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('LRN61010', 'SCHOOLS', 'Column_19', 19, 'SYSIBM  ', 'VARCHAR', 24, 0, 'OCTETS', 24, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 73, "'Family Involvement Score'", "'17'", 8, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 3, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('LRN61010', 'SCHOOLS', 'Column_20', 20, 'SYSIBM  ', 'VARCHAR', 17, 0, 'OCTETS', 17, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 7, "'Very Weak'", "'Environment Icon'", 11, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 6, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('LRN61010', 'SCHOOLS', 'Column_21', 21, 'SYSIBM  ', 'VARCHAR', 17, 0, 'OCTETS', 17, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 81, "'Environment Score'", "'11'", 7, None, 0, 20, 10, 53, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 2, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('LRN61010', 'SCHOOLS', 'Column_22', 22, 'SYSIBM  ', 'VARCHAR', 17, 0, 'OCTETS', 17, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 7, "'Very Weak'", "'Instruction Icon'", 11, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 6, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('LRN61010', 'SCHOOLS', 'Column_23', 23, 'SYSIBM  ', 'VARCHAR', 17, 0, 'OCTETS', 17, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 84, "'Instruction Score'", "'11'", 7, None, 0, 20, 10, 53, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 2, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('LRN61010', 'SCHOOLS', 'Column_24', 24, 'SYSIBM  ', 'VARCHAR', 13, 0, 'OCTETS', 13, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 7, "'Very Weak'", "'Leaders Icon'", 10, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 5, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('LRN61010', 'SCHOOLS', 'Column_25', 25, 'SYSIBM  ', 'VARCHAR', 14, 0, 'OCTETS', 14, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 80, "'Leaders Score'", "'14'", 7, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 2, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('LRN61010', 'SCHOOLS', 'Column_26', 26, 'SYSIBM  ', 'VARCHAR', 14, 0, 'OCTETS', 14, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 7, "'Very Weak'", "'NDA'", 10, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 5, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('LRN61010', 'SCHOOLS', 'Column_27', 27, 'SYSIBM  ', 'VARCHAR', 14, 0, 'OCTETS', 14, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 78, "'NDA'", "'14'", 7, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 2, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('LRN61010', 'SCHOOLS', 'Column_28', 28, 'SYSIBM  ', 'VARCHAR', 23, 0, 'OCTETS', 23, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 5, "'Strong'", "'NDA'", 10, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 5, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('LRN61010', 'SCHOOLS', 'Column_29', 29, 'SYSIBM  ', 'VARCHAR', 23, 0, 'OCTETS', 23, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 33, "'NDA'", "'39'", 7, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 2, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('LRN61010', 'SCHOOLS', 'Column_30', 30, 'SYSIBM  ', 'VARCHAR', 23, 0, 'OCTETS', 23, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 5, "'Strong'", "'NDA'", 10, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 5, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('LRN61010', 'SCHOOLS', 'Column_31', 31, 'SYSIBM  ', 'VARCHAR', 24, 0, 'OCTETS', 24, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 34, "'NDA'", "'36'", 7, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 2, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('LRN61010', 'SCHOOLS', 'Column_32', 32, 'SYSIBM  ', 'VARCHAR', 26, 0, 'OCTETS', 26, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 155, "'AVERAGE_STUDENT_ATTENDANCE'", "'60.90%'", 11, None, 0, 20, 10, 1, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 6, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('LRN61010', 'SCHOOLS', 'Column_33', 33, 'SYSIBM  ', 'VARCHAR', 39, 0, 'OCTETS', 39, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 340, "'95.7'", "'0.1'", 8, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 3, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('LRN61010', 'SCHOOLS', 'Column_34', 34, 'SYSIBM  ', 'VARCHAR', 26, 0, 'OCTETS', 26, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 56, "'98.50%'", "'91.70%'", 11, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 6, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('LRN61010', 'SCHOOLS', 'Column_35', 35, 'SYSIBM  ', 'VARCHAR', 49, 0, 'OCTETS', 49, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 70, "'99.70%'", "'72.70%'", 12, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 7, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('LRN61010', 'SCHOOLS', 'Column_36', 36, 'SYSIBM  ', 'VARCHAR', 15, 0, 'OCTETS', 15, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 308, "'NDA'", "'16.4'", 9, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 4, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('LRN61010', 'SCHOOLS', 'Column_37', 37, 'SYSIBM  ', 'VARCHAR', 11, 0, 'OCTETS', 11, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 224, "'NDA'", "'10.1'", 8, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 3, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('LRN61010', 'SCHOOLS', 'Column_38', 38, 'SYSIBM  ', 'VARCHAR', 24, 0, 'OCTETS', 24, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 336, "'Gr3-5 Grade Level Math %'", "'10'", 9, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 4, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('LRN61010', 'SCHOOLS', 'Column_39', 39, 'SYSIBM  ', 'VARCHAR', 25, 0, 'OCTETS', 25, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 340, "'Gr3-5 Grade Level Read %'", "'10'", 9, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 4, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('LRN61010', 'SCHOOLS', 'Column_40', 40, 'SYSIBM  ', 'VARCHAR', 22, 0, 'OCTETS', 22, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 276, "'Gr3-5 Keep Pace Read %'", "'28.8'", 9, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 4, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('LRN61010', 'SCHOOLS', 'Column_41', 41, 'SYSIBM  ', 'VARCHAR', 22, 0, 'OCTETS', 22, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 264, "'Gr3-5 Keep Pace Math %'", "'21.7'", 9, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 4, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('LRN61010', 'SCHOOLS', 'Column_42', 42, 'SYSIBM  ', 'VARCHAR', 24, 0, 'OCTETS', 24, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 296, "'Gr6-8 Grade Level Math %'", "'10.2'", 9, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 4, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('LRN61010', 'SCHOOLS', 'Column_43', 43, 'SYSIBM  ', 'VARCHAR', 24, 0, 'OCTETS', 24, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 300, "'Gr6-8 Grade Level Read %'", "'100'", 9, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 4, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('LRN61010', 'SCHOOLS', 'Column_44', 44, 'SYSIBM  ', 'VARCHAR', 21, 0, 'OCTETS', 21, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 272, "'Gr6-8 Keep Pace Math%'", "'24.3'", 9, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 4, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('LRN61010', 'SCHOOLS', 'Column_45', 45, 'SYSIBM  ', 'VARCHAR', 22, 0, 'OCTETS', 22, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 260, "'Gr6-8 Keep Pace Read %'", "'21.4'", 9, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 4, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('LRN61010', 'SCHOOLS', 'Column_46', 46, 'SYSIBM  ', 'VARCHAR', 19, 0, 'OCTETS', 19, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 208, "'Gr-8 Explore Math %'", "'1.4'", 8, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 3, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('LRN61010', 'SCHOOLS', 'Column_47', 47, 'SYSIBM  ', 'VARCHAR', 19, 0, 'OCTETS', 19, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 246, "'Gr-8 Explore Read %'", "'1.4'", 8, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 3, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('LRN61010', 'SCHOOLS', 'Column_48', 48, 'SYSIBM  ', 'VARCHAR', 21, 0, 'OCTETS', 21, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 297, "'ISAT Exceeding Math %'", "'0.6'", 8, None, 0, 20, 10, 90, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 3, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('LRN61010', 'SCHOOLS', 'Column_49', 49, 'SYSIBM  ', 'VARCHAR', 25, 0, 'OCTETS', 25, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 265, "'ISAT Exceeding Reading %'", "'0.5'", 8, None, 0, 20, 10, 90, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 3, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('LRN61010', 'SCHOOLS', 'Column_50', 50, 'SYSIBM  ', 'VARCHAR', 19, 0, 'OCTETS', 19, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 58, "'ISAT Value Add Math'", "'-0.2'", 8, None, 0, 20, 10, 98, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 3, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('LRN61010', 'SCHOOLS', 'Column_51', 51, 'SYSIBM  ', 'VARCHAR', 19, 0, 'OCTETS', 19, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 61, "'ISAT Value Add Read'", "'-0.2'", 8, None, 0, 20, 10, 98, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 3, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('LRN61010', 'SCHOOLS', 'Column_52', 52, 'SYSIBM  ', 'VARCHAR', 25, 0, 'OCTETS', 25, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 5, "'Red'", "'ISAT Value Add Color Math'", 10, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 5, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),
 ('LRN61010', 'SCHOOLS', 'Column_53', 53, 'SYSIBM  ', 'VARCHAR', 25, 0, 'OCTETS', 25, None, 'Y', 1208, 'SYSIBM', 'IDENTITY', ' ', ' ', 5, "'Red'", "'ISAT Value Add Color Read'", 10, None, 0, 20, 10, 0, None, None, None, None, None, None, None, None, ' ', 0, -1, 'N', 'N', ' ', None, 'O', None, -1.0, -1, -1, 5, None, None, 'N', 'N', 'N', -1, -1.0, None, None, 'N', None),

Double-click __here__ for a hint

<!--
In Db2 the system catalog table called SYSCAT.COLUMNS contains the column metadata
-->

Double-click __here__ for the solution.

<!-- Solution:

%sql select count(*) from SYSCAT.COLUMNS where TABNAME = 'SCHOOLS'

-->

Now retrieve the the list of columns in SCHOOLS table and their column type (datatype) and length.

In [10]:
# type in your query to retrieve all column names in the SCHOOLS table along with their datatypes and length

%sql select TYPENAME, LENGTH from SYSCAT.COLUMNS where TABNAME = 'SCHOOLS'

 * ibm_db_sa://lrn61010:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('VARCHAR', 9),
 ('VARCHAR', 65),
 ('VARCHAR', 34),
 ('VARCHAR', 30),
 ('VARCHAR', 7),
 ('VARCHAR', 5),
 ('VARCHAR', 8),
 ('VARCHAR', 14),
 ('VARCHAR', 78),
 ('VARCHAR', 40),
 ('VARCHAR', 34),
 ('VARCHAR', 31),
 ('VARCHAR', 14),
 ('VARCHAR', 29),
 ('VARCHAR', 28),
 ('VARCHAR', 24),
 ('VARCHAR', 12),
 ('VARCHAR', 12),
 ('VARCHAR', 23),
 ('VARCHAR', 24),
 ('VARCHAR', 17),
 ('VARCHAR', 17),
 ('VARCHAR', 17),
 ('VARCHAR', 17),
 ('VARCHAR', 13),
 ('VARCHAR', 14),
 ('VARCHAR', 14),
 ('VARCHAR', 14),
 ('VARCHAR', 23),
 ('VARCHAR', 23),
 ('VARCHAR', 23),
 ('VARCHAR', 24),
 ('VARCHAR', 26),
 ('VARCHAR', 39),
 ('VARCHAR', 26),
 ('VARCHAR', 49),
 ('VARCHAR', 15),
 ('VARCHAR', 11),
 ('VARCHAR', 24),
 ('VARCHAR', 25),
 ('VARCHAR', 22),
 ('VARCHAR', 22),
 ('VARCHAR', 24),
 ('VARCHAR', 24),
 ('VARCHAR', 21),
 ('VARCHAR', 22),
 ('VARCHAR', 19),
 ('VARCHAR', 19),
 ('VARCHAR', 21),
 ('VARCHAR', 25),
 ('VARCHAR', 19),
 ('VARCHAR', 19),
 ('VARCHAR', 25),
 ('VARCHAR', 25),
 ('VARCHAR', 26),
 ('VARCHAR', 27),
 ('VARCHAR', 25),
 ('VARCHAR', 25),
 ('VARCHAR', 23),
 ('VARCHAR', 23),
 ('VARCHAR', 27),
 ('VARCHAR', 30),
 ('VARCHAR', 23),
 ('VARCHAR', 21),
 ('VARCHAR', 17),
 ('VARCHAR', 25),
 ('VARCHAR', 18),
 ('VARCHAR', 23),
 ('VARCHAR', 24),
 ('VARCHAR', 12),
 ('VARCHAR', 12),
 ('VARCHAR', 11),
 ('VARCHAR', 12),
 ('VARCHAR', 21),
 ('VARCHAR', 22),
 ('VARCHAR', 4),
 ('VARCHAR', 15),
 ('VARCHAR', 27)]

Double-click __here__ for the solution.

<!-- Solution:

%sql select COLNAME, TYPENAME, LENGTH from SYSCAT.COLUMNS where TABNAME = 'SCHOOLS'

or

%sql select distinct(NAME), COLTYPE, LENGTH from SYSIBM.SYSCOLUMNS where TBNAME = 'SCHOOLS'

-->

### Questions
1. Is the column name for the "SCHOOL ID" attribute in upper or mixed case?
1. What is the name of "Community Area Name" column in your table? Does it have spaces?
1. Are there any columns in whose names the spaces and paranthesis (round brackets) have been replaced by the underscore character "_"?

## Problems

### Problem 1

##### How many Elementary Schools are in the dataset?

In [26]:
%sql select count(*) from SCHOOLS where "Elementary, Middle, or High School" = 'ES'

 * ibm_db_sa://lrn61010:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(Decimal('462'),)]

Double-click __here__ for a hint

<!--
Which column specifies the school type e.g. 'ES', 'MS', 'HS'?
-->

Double-click __here__ for another hint

<!--
Does the column name have mixed case, spaces or other special characters?
If so, ensure you use double quotes around the "Name of the Column"
-->

Double-click __here__ for the solution.

<!-- Solution:

%sql select count(*) from SCHOOLS where "Elementary, Middle, or High School" = 'ES'

Correct answer: 462

-->

### Problem 2

##### What is the highest Safety Score?

In [27]:
%sql select MAX(Safety_Score) AS MAX_SAFETY_SCORE from SCHOOLS

 * ibm_db_sa://lrn61010:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(99,)]

Double-click __here__ for a hint

<!--
Use the MAX() function
-->

Double-click __here__ for the solution.

<!-- Hint:

%sql select MAX(Safety_Score) AS MAX_SAFETY_SCORE from SCHOOLS

Correct answer: 99
-->

### Problem 3

##### Which schools have highest Safety Score?

In [28]:
%sql select Name_of_School, Safety_Score from SCHOOLS where \
  Safety_Score= (select MAX(Safety_Score) from SCHOOLS)

 * ibm_db_sa://lrn61010:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('Abraham Lincoln Elementary School', 99),
 ('Alexander Graham Bell Elementary School', 99),
 ('Annie Keller Elementary Gifted Magnet School', 99),
 ('Augustus H Burley Elementary School', 99),
 ('Edgar Allan Poe Elementary Classical School', 99),
 ('Edgebrook Elementary School', 99),
 ('Ellen Mitchell Elementary School', 99),
 ('James E McDade Elementary Classical School', 99),
 ('James G Blaine Elementary School', 99),
 ('LaSalle Elementary Language Academy', 99),
 ('Mary E Courtenay Elementary Language Arts Center', 99),
 ('Northside College Preparatory High School', 99),
 ('Northside Learning Center High School', 99),
 ('Norwood Park Elementary School', 99),
 ('Oriole Park Elementary School', 99),
 ('Sauganash Elementary School', 99),
 ('Stephen Decatur Classical Elementary School', 99),
 ('Talman Elementary School', 99),
 ('Wildwood Elementary School', 99)]

Double-click __here__ for the solution.

<!-- Solution:
In the previous problem we found out that the highest Safety Score is 99, so we can use that as an input in the where clause:

%sql select Name_of_School, Safety_Score from SCHOOLS where Safety_Score = 99

or, a better way:

%sql select Name_of_School, Safety_Score from SCHOOLS where \
  Safety_Score= (select MAX(Safety_Score) from SCHOOLS)


Correct answer: several schools with with Safety Score of 99.
-->

### Problem 4

##### What are the top 10 schools with the highest "Average Student Attendance"?

In [29]:

%sql select Name_of_School, Average_Student_Attendance from SCHOOLS \
    order by Average_Student_Attendance desc nulls last limit 10

 * ibm_db_sa://lrn61010:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('John Charles Haines Elementary School', '98.40%'),
 ('James Ward Elementary School', '97.80%'),
 ('Edgar Allan Poe Elementary Classical School', '97.60%'),
 ('Orozco Fine Arts & Sciences Elementary School', '97.60%'),
 ('Rachel Carson Elementary School', '97.60%'),
 ('Annie Keller Elementary Gifted Magnet School', '97.50%'),
 ('Andrew Jackson Elementary Language Academy', '97.40%'),
 ('Lenart Elementary Regional Gifted Center', '97.40%'),
 ('Disney II Magnet School', '97.30%'),
 ('John H Vanderpoel Elementary Magnet School', '97.20%')]

Double-click __here__ for the solution.

<!-- Solution:

%sql select Name_of_School, Average_Student_Attendance from SCHOOLS \
    order by Average_Student_Attendance desc nulls last limit 10 

-->

### Problem 5

##### Retrieve the list of 5 Schools with the lowest Average Student Attendance sorted in ascending order based on attendance

Double-click __here__ for the solution.

<!-- Solution:

%sql SELECT Name_of_School, Average_Student_Attendance  \
     from SCHOOLS \
     order by Average_Student_Attendance \
     fetch first 5 rows only

-->

### Problem 6

##### Now remove the '%' sign from the above result set for Average Student Attendance column

Double-click __here__ for a hint

<!--
Use the REPLACE() function to replace '%' with ''
See documentation for this function at:
https://www.ibm.com/support/knowledgecenter/en/SSEPGG_10.5.0/com.ibm.db2.luw.sql.ref.doc/doc/r0000843.html
-->

Double-click __here__ for the solution.

<!-- Hint:

%sql SELECT Name_of_School, REPLACE(Average_Student_Attendance, '%', '') \
     from SCHOOLS \
     order by Average_Student_Attendance \
     fetch first 5 rows only

-->

### Problem 7

##### Which Schools have Average Student Attendance lower than 70%?

Double-click __here__ for a hint

<!--
The datatype of the "Average_Student_Attendance" column is varchar.
So you cannot use it as is in the where clause for a numeric comparison.
First use the CAST() function to cast it as a DECIMAL or DOUBLE
e.g. CAST("Column_Name" as DOUBLE)
or simply: DECIMAL("Column_Name")
-->

Double-click __here__ for another hint

<!--
Don't forget the '%' age sign needs to be removed before casting
-->

Double-click __here__ for the solution.

<!-- Solution:

%sql SELECT Name_of_School, Average_Student_Attendance  \
     from SCHOOLS \
     where CAST ( REPLACE(Average_Student_Attendance, '%', '') AS DOUBLE ) < 70 \
     order by Average_Student_Attendance
     
or,

%sql SELECT Name_of_School, Average_Student_Attendance  \
     from SCHOOLS \
     where DECIMAL ( REPLACE(Average_Student_Attendance, '%', '') ) < 70 \
     order by Average_Student_Attendance

-->

### Problem 8

##### Get the total College Enrollment for each Community Area

Double-click __here__ for a hint

<!--
Verify the exact name of the Enrollment column in the database
Use the SUM() function to add up the Enrollments for each Community Area
-->

Double-click __here__ for another hint

<!--
Don't forget to group by the Community Area
-->

Double-click __here__ for the solution.

<!-- Solution:

%sql select Community_Area_Name, sum(College_Enrollment) AS TOTAL_ENROLLMENT \
   from SCHOOLS \
   group by Community_Area_Name 

-->

### Problem 9

##### Get the 5 Community Areas with the least total College Enrollment  sorted in ascending order

Double-click __here__ for a hint

<!--
Order the previous query and limit the number of rows you fetch
-->

Double-click __here__ for the solution.

<!-- Solution:

%sql select Community_Area_Name, sum(College_Enrollment) AS TOTAL_ENROLLMENT \
   from SCHOOLS \
   group by Community_Area_Name \
   order by TOTAL_ENROLLMENT asc \
   fetch first 5 rows only

-->

### Problem 10

##### Get the hardship index for the community area which has College Enrollment of 4638

Double-click __here__ for the solution.

<!-- Solution:
NOTE: For this solution to work the CHICAGO_SOCIOECONOMIC_DATA table 
      as created in the last lab of Week 3 should already exist

%%sql 
select hardship_index 
   from chicago_socioeconomic_data CD, schools CPS 
   where CD.ca = CPS.community_area_number 
      and college_enrollment = 4368

-->

### Problem 11

##### Get the hardship index for the community area which has the highest value for College Enrollment

Double-click __here__ for the solution.

<!-- Solution:
NOTE: For this solution to work the CHICAGO_SOCIOECONOMIC_DATA table 
      as created in the last lab of Week 3 should already exist

%sql select ca, community_area_name, hardship_index from chicago_socioeconomic_data \
   where ca in \
   ( select community_area_number from schools order by college_enrollment desc limit 1 )

-->

## Summary

##### In this lab you learned how to work with a real word dataset using SQL and Python. You learned how to query columns with spaces or special characters in their names and with mixed case names. You also used built in database functions and practiced how to sort, limit, and order result sets, as well as used sub-queries and worked with multiple tables.

Copyright &copy; 2018 [cognitiveclass.ai](cognitiveclass.ai?utm_source=bducopyrightlink&utm_medium=dswb&utm_campaign=bdu). This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license/).